.section-faq {
  width: 100%;
  background-image: linear-gradient(to bottom, $soft-violet, $soft-blue);
  padding: 13rem 0;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 5rem;
}