html {
  font-family: 'Kumbh Sans';
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  color: $very-dark-grayish-blue;
}

.heading-tertiary {
  font-size: 3.2rem;
  color: $very-dark-blue;
}